@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Shoe Plaza<br />
    Bayfield, Ontario<br />
    <abbr title="Phone">P:551545</abbr>
 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">shoeplaza@gmail.com.com</a><br />
 
</address>