@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

<div class="row">
    <div class="col-sm-4 my-4">
        <div class="card">
            <img class="card-img-top" src="~/images/01.jpg" width="300px" height="300px" alt="Sports Shoes">
            <div class="card-body">
                <h1>Sports</h1>
                <p class="card-text">These shoes are designed to make you run.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 my-4">
        <div class="card">
            <img class="card-img-top" src="~/images/02.jpg" width="300px" height="300px" alt="Casuals Shoes">
            <div class="card-body">
                <h1>Casuals</h1>
                <p class="card-text">Wear these shoes everyday anytime.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 my-4">
        <div class="card">
            <img class="card-img-top" src="~/images/03.jpg" width="300px" height="300px" alt=" Jordans">
            <div class="card-body">
                <h1>Jordans</h1>
                <p class="card-text">Be in the trend.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-4 my-4">
        <div class="card">
            <img class="card-img-top" src="~/images/04.jpg" width="300px" height="300px" alt=" Formals Shoes">
            <div class="card-body">
                <h1>Formals</h1>
                <p class="card-text">Be the Gentleman you are.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>
    
    

</div>
