@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

<div class="row">
    <div class="col-sm-4 my-4">
        <div class="card">
            <img class="card-img-top" src="https://pumaimages.azureedge.net/images/362288/06/sv01/fnd/PNA/" width="300px" height="300px" alt="Sports Shoes">
            <div class="card-body">
                <h1>Sports</h1>
                <p class="card-text">These shoes are designed to make you run.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 my-4">
        <div class="card">
            <img class="card-img-top" src="https://ae01.alicdn.com/kf/HTB18p1sRVXXXXXiaXXXq6xXFXXXl/TOURSH-Sneakers-Men-Summer-Casuals-Shoes-Krasovki-Men-Shoes-2018-Shoes-Men-Breathable-Men-Tenis-Masculino.jpg_640x640.jpg" width="300px" height="300px" alt="Casuals Shoes">
            <div class="card-body">
                <h1>Casuals</h1>
                <p class="card-text">Wear these shoes everyday anytime.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 my-4">
        <div class="card">
            <img class="card-img-top" src="https://i.ytimg.com/vi/qgsAyIAqvh0/maxresdefault.jpg" width="300px" height="300px" alt=" Jordans">
            <div class="card-body">
                <h1>Jordans</h1>
                <p class="card-text">Be in the trend.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>

</div>

<div class="col-sm-4 my-4">
        <div class="card">
            <img class="card-img-top" src="https://ae01.alicdn.com/kf/HTB1tRlge2JNTKJjSspoq6A6mpXae/2018-New-brand-cool-European-colorful-lighting-kids-shoes-high-quality-children-glowing-sneakers-cool-baby.jpg_640x640.jpg" width="300px" height="300px" alt=" Kids Shoes">
            <div class="card-body">
                <h1>Kids</h1>
                <p class="card-text">Grow as you step.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-4 my-4">
        <div class="card">
            <img class="card-img-top" src="http://cdn.shopify.com/s/files/1/1509/8876/products/ZXQ-New-Arrival-British-Style-Men-Classic-Business-Formal-Shoes-Pointed-Toe-Retro-Bullock-Design-Men_4fcf54d2-d2c4-4e8c-9d07-78d540b092e3_grande.jpg?v=1513736926" width="300px" height="300px" alt=" Formals Shoes">
            <div class="card-body">
                <h1>Formals</h1>
                <p class="card-text">Be the Gentleman you are.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>
    
    

</div>
